<html>
    <head>
        <title>Mi Big Flask Test</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        
        <style>
            * { padding: 0; margin: 0; }
            canvas { background: #eee; display: block; margin: 0 auto; }
            body { background: rgb(2,0,36); background: linear-gradient(45deg, rgba(46,173,75,1) 0%, rgba(179,51,255,1) 100%); }
        </style>

        <script type="text/javascript" charset="utf-8">
            function copyLink() {
                const copyText = document.getElementById('roomLinkP').innerHTML;
                navigator.clipboard.writeText(copyText);
            }
            
            $(document).ready(function(){
                const roomId = '{{roomId}}';
                document.getElementById("roomCodeP").innerHTML = roomId;
                document.getElementById("roomLinkP").innerHTML = window.location.href.split('game')[0] + 'linked?room=' + roomId;
                const userName = '{{userName}}';
                const playerId = '{{playerId}}';
                // window.requestAnimationFrame =
                //     window.requestAnimationFrame ||
                //     window.mozRequestAnimationFrame ||
                //     window.webkitRequestAnimationFrame ||
                //     window.msRequestAnimationFrame;
                const origin = window.location.origin;
                const canvas = document.getElementById("theCanvas");
                const ctx = canvas.getContext("2d");
                const gradient = ctx.createLinearGradient(0, 0, 1000, 700);
                gradient.addColorStop(0, '#332738');
                gradient.addColorStop(1, '#212621');
                const PLAYER1X0 = 20;
                const PLAYER1Y0 = 20;
                const PLAYER2X0 = 930;
                const PLAYER2Y0 = 630;
                const PLAYER3X0 = 20;
                const PLAYER3Y0 = 630;
                const PLAYER4X0 = 930;
                const PLAYER4Y0 = 20;
                const DX = 100
                const DY = 100
                const MAX_X = 946
                const MAX_Y = 659
                const EGGMAN_SPRITE_BASE_PATH = '/static/sprites/eggMan/';
                const eggManSpriteSheets = {};
                const colors = ['green', 'purple', 'yellow', 'cyan'];
                const modes = ['front', 'back', 'eggFront', 'eggBack'];
                colors.forEach((color) => {
                    eggManSpriteSheets[color] = {};
                    modes.forEach((mode) => {
                        img = new Image();
                        img.src = EGGMAN_SPRITE_BASE_PATH + color + '/' + mode + '.png'
                        eggManSpriteSheets[color][mode] = img;
                    })
                })
                
                const eggManCoords = {
                    restUp : { sx : 0, sy : 0, swidth : 54, sheight : 41 },
                    restDown : { sx : 54, sy : 0, swidth : 54, sheight : 41 },
                    expl1 : { sx : 108, sy : 0, swidth : 54, sheight : 41 },
                    expl2 : { sx : 0, sy : 42, swidth : 54, sheight : 41 },
                    expl3 : { sx : 54, sy : 42, swidth : 54, sheight : 41 },
                    expl4 : { sx : 108, sy : 42, swidth : 54, sheight : 41 },
                    expl5 : { sx : 0, sy : 84, swidth : 54, sheight : 41 },
                    w1 : { sx : 54, sy : 84, swidth : 54, sheight : 41 },
                    w2 : { sx : 108, sy : 84, swidth : 54, sheight : 42 },
                    w3 : { sx : 0, sy : 126, swidth : 54, sheight : 42 },
                    w4 : { sx : 54, sy : 126, swidth : 54, sheight : 42 },
                }

                //player1, player2, etc.
                var playerNumber;
                var clientPlayer;
                var lastUpdate_t = performance.now();
                var reqQueue = []; //: { inputNum, t, dx, dy }
                var lastInputNum = 0;
                
                const players = {
                    player1: null,
                    player2: null,
                    player3: null,
                    player4: null
                };

                var leftPressed = false;
                var rightPressed = false;
                var upPressed = false;
                var downPressed = false;

                class Player {
                    constructor(playerName, x, y, numStr) {
                        this.name = playerName;
                        this.x = x;
                        this.y = y;
                        // this.dx = 0;
                        // this.dy = 0;
                        this.sheets;
                        this.hasEgg = false;
                        this.dying = false;
                        this.walking = false;
                        this.animCount = 0;
                        if (numStr == 'player1') {
                            this.sheets = eggManSpriteSheets['green'];
                        } else if (numStr == 'player2') {
                            this.sheets = eggManSpriteSheets['purple'];
                        } else if (numStr == 'player3') {
                            this.sheets = eggManSpriteSheets['yellow'];
                        } else if (numStr == 'player4') {
                            this.sheets = eggManSpriteSheets['cyan'];
                        }
                    }

                    drawSelf() {
                        ctx.fillStyle = "#000000";
                        ctx.fillText(this.name, this.x, this.y - 10);
                        var mode;
                        var sheet;
                        if (this.dy < 0) {
                            sheet = 'back';
                        } else {
                            sheet = 'front';
                        }
                        if (!this.walking) {
                            if (this.animCount < 10) {
                                mode = 'restUp';
                            } else if (this.animCount >= 10 && this.animCount < 20) {
                                mode = 'restDown';
                            } else {
                                mode = 'restUp';
                                this.animCount = 0;
                            }
                        } else {
                            if (this.animCount == 0) {
                                mode = 'w1';
                            } else if (this.animCount == 1) {
                                mode = 'w2';
                            } else if (this.animCount == 2) {
                                mode = 'w3';
                            } else {
                                mode = 'w4';
                                this.animCount = 0;
                            }
                        }

                        const sx = eggManCoords[mode].sx;
                        const sy = eggManCoords[mode].sy;
                        const swidth = eggManCoords[mode].swidth;
                        const sheight = eggManCoords[mode].sheight;
                        ctx.drawImage(this.sheets[sheet], sx, sy, swidth, sheight, this.x, this.y, swidth, sheight);
                    }
                }

                const socket = io();

                socket.on('after connect', () => {
                    socket.emit('join event', {
                        'roomId' : roomId,
                        'name' : userName,
                        'playerId' : playerId
                    });
                });
                socket.on('join gamestate', (data) => {
                    const playerNumStr = data['playerNumber'];
                    playerNumber = playerNumStr;
                    const allPlayers = data['gamestate']['players'];
                    for (const playerN in allPlayers) {
                        players[playerN] = new Player(allPlayers[playerN].name, allPlayers[playerN].x, allPlayers[playerN].y, playerN);
                    }
                    clientPlayer = players[playerNumStr]
                });
                socket.on('game update', (data) => {
                    const gameState = data['gameState'];
                    const playersUpdate = gameState['players']
                    for (const player in playersUpdate) {
                        const pl = playersUpdate[player];
                        if (player == playerNumber) {
                            const hostLastInput = pl['lastInputNum']
                            //edge case -- empty queue ??
                            const hostX = pl['x'];
                            const hostY = pl['y'];
                            var i = 0;
                            while (reqQueue[i].inputNum != lastInputNum && i < reqQueue.length) {
                                i++;
                            }
                            // const processedInputs = reqQueue.slice(0, i);
                            reqQueue = reqQueue.slice(i);
                            var dx = 0;
                            var dy = 0;
                            for (const req of reqQueue) {
                                dx += req.dx
                                dy += req.dy
                            }
                            clientPlayer.x = hostX + dx;
                            clientPlayer.y = hostY + dy;


                        } else {
                            if (players[player] == null) {
                            players[player] = new Player(pl['name'], pl['x'], pl['y'], player);
                            players[player].walking = pl['walking']
                            } else {
                                players[player].x = pl['x'];
                                players[player].y = pl['y'];
                                players[player].walking = pl['walking']
                            }
                            if (pl['remove'] == true) {
                                players[player] = null;
                            }
                        }
                    }
                });

                document.addEventListener("keydown", keyDownHandler, false);
                document.addEventListener("keyup", keyUpHandler, false);

                function keyDownHandler(e) {
                    if (e.key == "Right" || e.key == "ArrowRight") {
                        rightPressed = true;
                    } else if (e.key == "Left" || e.key == "ArrowLeft") {
                        leftPressed = true;
                    } else if (e.key == "Up" || e.key == "ArrowUp") {
                        upPressed = true;
                    } else if (e.key == "Down" || e.key == "ArrowDown") {
                        downPressed = true;
                    }
                }

                function keyUpHandler(e) {
                    if (e.key == "Right" || e.key == "ArrowRight") {
                        rightPressed = false;
                    } else if (e.key == "Left" || e.key == "ArrowLeft") {
                        leftPressed = false;
                    } else if (e.key == "Up" || e.key == "ArrowUp") {
                        upPressed = false;
                    } else if (e.key == "Down" || e.key == "ArrowDown") {
                        downPressed = false;
                    }
                }

                function getInputNum() {
                    lastInputNum++;
                    if (lastInputNum < 100) {
                        return lastInputNum;
                    } else {
                        lastInputNum = 0;
                        return 0;
                    }
                }

                function update() {
                    if (clientPlayer == null) {
                        // requestAnimationFrame(update);
                        return
                    }
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.fillStyle = gradient;
                    ctx.fillRect(0, 0, 1000, 700);
                    for (const player in players) {
                        currPlayer = players[player];
                        if (currPlayer !== null) {
                            currPlayer.animCount++;
                            currPlayer.drawSelf();
                        }
                    }
                    lastInputNum = getInputNum();
                    const input = {
                        'roomId' : roomId,
                        'playerId' : playerId,
                        'inputNum' : lastInputNum,
                        'rightPressed' : rightPressed,
                        'leftPressed' : leftPressed,
                        'upPressed' : upPressed,
                        'downPressed' : downPressed
                    };
                    var t = performance.now();
                    var delta_t = (t - lastUpdate_t) / 1000;
                    var dx = 0;
                    var dy = 0;
                    if (input['leftPressed']) {
                        dx = -DX * delta_t;
                        clientPlayer.x -= dx;
                        clientPlayer.walking = true;
                    } else if (input['rightPressed']) {
                        dx = DX * delta_t;
                        clientPlayer.x += dx;
                        clientPlayer.walking = true;
                    } else if (input['upPressed']) {
                        dy = -DY * delta_t;
                        clientPlayer.y -= dy;
                        clientPlayer.walking = true;
                    } else if (input['downPressed']) {
                        dy = DY * delta_t;
                        clientPlayer.y += dy;
                        clientPlayer.walking = true;
                    } else {
                        clientPlayer.walking = false;
                    }
                    if (clientPlayer.x > MAX_X) {
                        clientPlayer.x = MAX_X
                    } else if (clientPlayer.x < 0) {
                        clientPlayer.x = 0
                    }
                    if (clientPlayer.y > MAX_Y) {
                        clientPlayer.y = MAX_Y
                    } else if (clientPlayer.y < 0) {
                        clientPlayer.y = 0
                    }
                    lastUpdate_t = t;
                    reqQueue.push({ inputNum: lastInputNum, t: t, dx: dx, dy: dy });
                    socket.emit('playerInput', input);
                    // window.requestAnimationFrame(update)
                }

                setInterval(update, 50);
                // window.requestAnimationFrame(update);

                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    const buttonCanv = document.getElementById('buttonCanv');
                    buttonCanv.width = 1000;
                    buttonCanv.height = 700;
                    const btnCtx = buttonCanv.getContext('2d');
                    btnCtx.clearRect(0, 0, buttonCanv.width, buttonCanv.height);
                    const dL = {
                        x:520, y:350, w:100, h:100, id:'L'
                    };
                    const dUp = {
                        x:630, y:240, w:100, h:100, id:'Up'
                    };
                    const dR = {
                        x:740, y:350, w:100, h:100, id:'R'
                    };
                    const dDn = {
                        x:630, y:460, w:100, h:100, id:'Dn'
                    }
                    const rects = [dL, dUp, dR, dDn];
                    btnCtx.strokeStyle = 'rgba(46,173,75,1)';
                    btnCtx.fillStyle = 'rgba(179,51,255,1)';
                    rects.forEach((rect) => {
                        btnCtx.fillRect(rect.x, rect.y, rect.w, rect.h);

                        btnCtx.lineWidth = '3';
                        btnCtx.beginPath();
                        btnCtx.rect(rect.x - 3, rect.y - 3, rect.w + 6, rect.h + 6);
                        btnCtx.stroke();
                    })
                    const boundingClientRect = buttonCanv.getBoundingClientRect();
                    buttonCanv.addEventListener('click', (e) => {
                        const mouseX = e.clientX - boundingClientRect.left;
                        const mouseY = e.clientY - boundingClientRect.top;
                        var clickedRectId = null;
                        rects.forEach((rect) => {
                            if (mouseX > rect.x && mouseX < rect.x+rect.w && mouseY < rect.y+rect.h && mouseY > rect.y) {
                                clickedRectId = rect.id;
                            }
                        })
                        if (clickedRectId != null) {
                            if (clickedRectId == 'L') {
                                if (leftPressed) {
                                    leftPressed = false;
                                } else {
                                    leftPressed = true;
                                }
                                rightPressed = false;
                                upPressed = false;
                                downPressed = false;
                            } else if (clickedRectId == 'R') {
                                if (rightPressed) {
                                    rightPressed = false;
                                } else {
                                    rightPressed = true;
                                }
                                leftPressed = false;
                                upPressed = false;
                                downPressed = false;
                            } else if (clickedRectId == 'Up') {
                                if (upPressed) {
                                    upPressed = false;
                                } else {
                                    upPressed = true;
                                }
                                leftPressed = false;
                                rightPressed = false;
                                downPressed = false;
                            } else if (clickedRectId == 'Dn') {
                                if (downPressed) {
                                    downPressed = false;
                                } else {
                                    downPressed = true;
                                }
                                leftPressed = false;
                                rightPressed = false;
                                upPressed = false;
                            }
                            update()
                        }
                    });
                }

            
            });
        </script>


    </head>
    <body>
        <canvas id="theCanvas" width="1000" height="700"></canvas>
        <h3>Room Code</h3>
        <p id="roomCodeP">---</p>
        <p id="roomLinkP">---</p>
        <button onclick="copyLink()">Copy link</button>
        <canvas id="buttonCanv" width="0" height="0" style="background-color: black;"></canvas>
    </body>
</html>